.header {
  display: flex;
  background-color: #131921;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
  width: 100px;
}
.header__search {
  display: flex;
  flex: 1;
}
.header__searchInput {
  width: 100%;
  height: 12px;
  padding: 10px;
  border: none;
}
.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__Link {
  color: white;
  text-decoration: none;
}
.header__Link:hover {
  text-decoration: underline;
}
.header__options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__optionsLineOne {
  font-size: 10px;
}
.header__optionsLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__basket {
  display: flex;
  align-items: center;
}
.header__basketCount {
  font-size: 17px;
  font-weight: 700;
  margin-left: 5px;
}
